<div class="sidebar"
     [ngClass]="toggleSidebar ? 'close-sidebar' : 'open-sidebar'">

  <div class="sidebar-header">
    <a routerLink="dashboard">PK Dart Vaders</a>
    <fa-icon [icon]="faTimes"
             (click)="toggleSidebarNav()"></fa-icon>
  </div>

  <div class="sidebar-profile media">
    <div class="user-pic">
      <img class="img-responsive img-rounded  d-flex mr-3"
           src="../assets/img/user.jpg"
           alt="User picture">
    </div>
    <div class="user-info media-body">
      <p class="user-name">Damir
        <strong>Kolobaric</strong>
      </p>
      <p class="user-role">Stormtrooper</p>
    </div>
  </div>

  <div class="sidebar-menu">
    <ul class="p-0">
      <li *ngFor="let menu of menus; index as i;">
        <a *ngIf="menu.type === 'simple'"
           routerLink="{{menu.route}}"
           routerLinkActive="active"
           class="sidebar-item">
          <span>{{menu.title}}</span>
        </a>

        <div *ngIf="menu.type === 'dropdown'"
             class="dropdown">

          <div class="sidebar-submenu">
            <a routerLink="{{menu.route}}"
               routerLinkActive="active"
               class="sidebar-item"
               (click)="toggleDropdownClass(i)">
              <span>{{menu.title}}</span>
              <fa-icon [icon]="menu.toggle ? faAngleDown : faAngleRight"></fa-icon>

            </a>

            <ul [ngClass]="menu.toggle ? 'open' : 'close'">
              <li *ngFor="let submenu of menu.submenus">
                <a routerLink="{{submenu.route}}"
                   routerLinkActive="active"
                   class="sidebar-item"> {{submenu.title}}
                </a>
              </li>
            </ul>
          </div>

        </div>

      </li>
    </ul>
  </div>

  <div class="sidebar-footer">
    <a routerLink="authentication/login">Login</a>
  </div>

</div>

<div class="circle">
  <fa-icon class="faBars"
           [icon]="faBars"
           [ngClass]="{'d-none' : !toggleSidebar}"
           (click)="toggleSidebarNav()"></fa-icon>
</div>
