<div class="row md-mt-50 red">
  <div class="col-sm-12">
    <h1 class="page-tittle">Admin <button class="btn btn-primary"
              data-toggle="modal"
              data-target="#newUserModel">New</button></h1>
  </div>

  <!-- Modal -->
  <div class="modal fade"
       id="newUserModel"
       role="dialog">
    <app-new-user></app-new-user>
  </div>

</div>

<div class="row">
  <div class="col-sm-12">

    <table class="table">
      <thead>
        <tr>
          <th (click)="sort('id')"
              scope="col">#</th>
          <th (click)="sort('firstName')"
              scope="col">First</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users; index as i">
          <th scope="row">{{user.id}}</th>
          <td>{{user.firstName}}</td>
          <td>
            <fa-icon [icon]="faTrash"
                     (click)="removeUser()"></fa-icon>
          </td>
        </tr>
      </tbody>
    </table>

    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-end">
        <li class="page-item disabled">
          <a class="page-link"
             tabindex="-1">Previous</a>
        </li>
        <li class="page-item"><a class="page-link">1</a></li>
        <li class="page-item"><a class="page-link">2</a></li>
        <li class="page-item"><a class="page-link">3</a></li>
        <li class="page-item">
          <a class="page-link">Next</a>
        </li>
      </ul>
    </nav>

  </div>
</div>
