<div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Send invite</h4>
      <fa-icon [icon]="faTimes"
               class="close"
               data-dismiss="modal"></fa-icon>

    </div>
    <div class="modal-body">
      <form action="">

        <div class="form-group">
          <label for="email">Email</label>
          <input type="email"
                 class="form-control">
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button"
              class="btn btn-primary">Invite</button>
    </div>
  </div>

</div>
