<div class="row md-mt-50">
  <div class="col-sm-12">
    <h1 class="page-tittle">States 21./22.</h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Player</th>
          <th scope="col">Team</th>
          <th scope="col">Played</th>
          <th scope="col">Win</th>
          <th scope="col">Lose</th>
          <th scope="col">%</th>
          <th scope="col">Points</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of states; index as i">
          <th scope="row">{{i}}</th>
          <td><a href="">{{item.team}}</a></td>
          <td>{{item.points}}</td>
          <td>{{item.played}}</td>
          <td>{{item.win}}</td>
          <td>{{item.draw}}</td>
          <td>{{item.lose}}</td>
          <td>{{item.meetings}}</td>
          <td>{{item.sets}}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
