<div>
  <h1 (click)="goHome()">PK Dart Vaders</h1>
  <form [formGroup]="authenticationForm"
        (ngSubmit)="onSubmit()">

    <div class="form-group"
         *ngIf="!isLogin">
      <label for="firstName">First Name</label>
      <input type="text"
             class="form-control"
             id="firstName"
             formControlName="firstName">
      <span *ngIf="!authenticationForm.get('firstName').valid  && authenticationForm.get('firstName').touched"
            class="help-block">
        Please enter Name!
      </span>
    </div>

    <div class="form-group"
         *ngIf="!isLogin">
      <label for="lastName">Last Name</label>
      <input type="text"
             class="form-control"
             id="lastName"
             formControlName="lastName">
      <span *ngIf="!authenticationForm.get('lastName').valid  && authenticationForm.get('lastName').touched"
            class="help-block">
        Please enter LastName!
      </span>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email"
             class="form-control"
             id="email"
             formControlName="email">
      <span *ngIf="!authenticationForm.get('email').valid  && authenticationForm.get('email').touched"
            class="help-block">
        <span *ngIf="authenticationForm.get('email').errors['existingEmail']">Email already exists!</span>
        <span *ngIf="authenticationForm.get('email').errors['required']">Please enter email!</span>
      </span>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password"
             class="form-control"
             id="password"
             formControlName="password">
      <span *ngIf="!authenticationForm.get('password').valid  && authenticationForm.get('password').touched"
            class="help-block">
        Please enter Password!

      </span>
      <span *ngIf="authenticationForm.get('password').value  && authenticationForm.get('confirmPassword').value"
            class="help-block">
        Passwords do not match!
      </span>
    </div>

    <div class="
            form-group"
         *ngIf="!isLogin">
      <label for="confirmPassword">Confirm Password</label>
      <input type="password"
             class="form-control"
             id="confirmPassword"
             formControlName="confirmPassword"
             required>
      <span *ngIf="authenticationForm.get('password').value  && authenticationForm.get('confirmPassword').value"
            class="help-block">
        Passwords do not match!
      </span>
    </div>
    <div class="text-center">
      <button type="submit"
              class="btn btn-primary"
              [disabled]="!authenticationForm.valid">{{buttonContent}}</button>
    </div>

  </form>
</div>
